body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    background-color: rgb(230, 167, 157);
    border: 3px solid rgb(231, 148, 135);
}

.calculator {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
}

.calculator-screen {
    height: 140px;
    width: 440px;
    border: none;
    color: black;
    background-color: rgb(229, 188, 182);
    margin: 3px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 3px rgb(235, 149, 149);

    padding: 10px;
    text-align: right;
    font-size: xxx-large;
}

button {
    width: 70px;
    height: 70px;
    margin: 3px;

    border: none;
    border: 1px solid rgb(231, 148, 135);
    background-color: rgb(229, 188, 182);

    font-size: x-large;
    box-shadow: 3px 3px 3px 3px rgb(235, 149, 149);
}

button:focus {
    outline: none;
    padding: none;
    box-shadow: 0 0 3px 3px rgb(241, 105, 128);
}

.equal {
    width: 222px;
    grid-area: equal;
}

.convert {
    width: 150px;
    grid-area: convert;
}

.calculator-keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "convert convert . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . . . ."
    ". . . equal equal equal";
}
